@charset "utf-8";


.tbl_search {
	th {
		font-weight: bold;
	}
	th,td {padding:5px;}

	input {
		width:200px;

		&[type=submit]{
			width:100px;
		}
	}

}

.result_wrapper{
	margin-top:30px;
	h3{}
}

.tbl_searchResult {
	width:100%;
	th {font-weight: bold; background-color: #CCC; padding: 5px;}
	td {border-bottom:1px #eee solid; width:300px;padding:2px;}
	tr:nth-child(even) {background: #f8f8f8;}
}

.WarrantyPage{
	width: 1200px !important; min-height:500px;

	#header{
		height: auto;
		h2{ padding: 5px 0; color:#A20B0B; font-size: 22px; font-weight:bold; }
	}
	
	h3	{font-weight: bold;font-size: 1.1em; margin:25px 0 5px;}

	.template{
		display: none;
	}

	#consolePanel{
		margin-top:20px;
		border:1px #ccc solid;
		width:100%;
		min-height:200px;
	}

	#FormUpload > div{
		margin-top:10px;
	}

	#message {color: #F00; text-align: center; margin: 30px;}
}