<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- redirect -->
        <remove name="Imported Rule 1"/>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^wristwatch(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^revampcn.kitchen-digital.com/tc$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://revampch.kitchen-digital.com/tc/wristwatch{R:1}" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 2"/>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^newspage(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^revampcn.kitchen-digital.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://revampch.kitchen-digital.com/tc/newspage{R:1}" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 3"/>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url="^news_details(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^revampcn.kitchen-digital.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://revampch.kitchen-digital.com/tc/news_details{R:1}" redirectType="Found" />
        </rule>


        <!-- rewrite rules -->

        <!-- Wristwatch -->
        <remove name="Imported Rule 7"/>
        <rule name="Imported Rule 7" stopProcessing="true">
          <match url="wristwatch/(.*)/(.*)/#(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-details.aspx?type={R:1}&amp;collection={R:2}&amp;model={R:3}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 8"/>
        <rule name="Imported Rule 8" stopProcessing="true">
          <match url="wristwatch/(.*)/(.*)/(.*).html$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-details.aspx?type={R:1}&amp;collection={R:2}&amp;model={R:3}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 9"/>
        <rule name="Imported Rule 9" stopProcessing="true">
          <match url="wristwatch/(.*)/(.*)/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-details.aspx?type={R:1}&amp;collection={R:2}&amp;model={R:3}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 10"/>
        <rule name="Imported Rule 10" stopProcessing="true">
          <match url="wristwatch/(.*)/(.*)/$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-details.aspx?type={R:1}&amp;collection={R:2}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 11"/>
        <rule name="Imported Rule 11" stopProcessing="true">
          <match url="wristwatch/(.*)/$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-type.aspx?type={R:1}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 12"/>
        <rule name="Imported Rule 12" stopProcessing="true">
          <match url="wristwatch/$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-type.aspx" />
        </rule>
        <remove name="Imported Rule 13"/>
        <rule name="Imported Rule 13" stopProcessing="true">
          <match url="wristwatch$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch-type.aspx" />
        </rule>
        <remove name="Imported Rule 13_11"/>
        <rule name="Imported Rule 13_11" stopProcessing="true">
          <match url="wristwatch_collection/(.*)/(.*)/$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_collection.aspx?type={R:1}&amp;collection={R:2}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 13_12"/>
        <rule name="Imported Rule 13_12" stopProcessing="true">
          <match url="wristwatch_collection/(.*)/$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_collection.aspx?type={R:1}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 13_13"/>
        <rule name="Imported Rule 13_13" stopProcessing="true">
          <match url="wristwatch_collection(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_collection.aspx" />
        </rule>
        <remove name="Imported Rule 13_2"/>
        <rule name="Imported Rule 13_2" stopProcessing="true">
          <match url="wristwatch_selector(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_selector.aspx" />
        </rule>
        <remove name="Imported Rule 13_3"/>
        <rule name="Imported Rule 13_3" stopProcessing="true">
          <match url="wristwatch_catalogue(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_catalogue.aspx" />
        </rule>
        <remove name="Imported Rule 13_4"/>
        <rule name="Imported Rule 13_4" stopProcessing="true">
          <match url="wristwatch_3d(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="wristwatch_3d.aspx" />
        </rule>
        <remove name="Imported Rule 13_5"/>
        <rule name="Imported Rule 13_5" stopProcessing="true">
          <match url="wristwatch_warranty(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="warranty.aspx" />
        </rule>


        <!-- news -->
        <remove name="Imported Rule 14"/>
        <rule name="Imported Rule 14">
          <match url="^newspage$" ignoreCase="false" />
          <action type="Rewrite" url="latest_news.aspx" />
        </rule>
        <remove name="Imported Rule 14_1"/>
        <rule name="Imported Rule 14_1">
          <match url="^newspage/$" ignoreCase="false" />
          <action type="Rewrite" url="latest_news.aspx" />
        </rule>
        <remove name="Imported Rule 15"/>
        <rule name="Imported Rule 15" stopProcessing="true">
          <match url="^newspage/([0-9]+)$" ignoreCase="false" />
          <action type="Rewrite" url="latest_news.aspx?page={R:1}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 16"/>
        <rule name="Imported Rule 16" stopProcessing="true">
          <match url="^news/(.*)$" ignoreCase="false" />
          <action type="Redirect" url="/news_details/{R:1}" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 17"/>
        <rule name="Imported Rule 17" stopProcessing="true">
          <match url="news_details/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="latest_news_detail.aspx?article={R:1}" appendQueryString="false" />
        </rule>


        <!-- QR Code-->
        <remove name="Imported Rule 21"/>
        <rule name="Imported Rule 21" stopProcessing="true">
          <match url="^brand_story/$" ignoreCase="false" />
          <action type="Rewrite" url="qrcode.aspx" />
        </rule>


        <!-- brand -->
        <remove name="Imported Rule 22"/>
        <rule name="Imported Rule 22" stopProcessing="true">
          <match url="^brand_corporate_video.php$" ignoreCase="false" />
          <action type="Redirect" url="brand_history" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 25"/>
        <rule name="Imported Rule 25" stopProcessing="true">
          <match url="^brand_heritage.php$" ignoreCase="false" />
          <action type="Redirect" url="brand_history" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 23"/>
        <rule name="Imported Rule 23" stopProcessing="true">
          <match url="^brand_history.php$" ignoreCase="false" />
          <action type="Redirect" url="brand_history" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 24"/>
        <rule name="Imported Rule 24" stopProcessing="true">
          <match url="^brand_history(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="brand_history.aspx" appendQueryString="false" />
        </rule>





        <!-- CS -->
        <remove name="Imported Rule 28"/>
        <rule name="Imported Rule 28" stopProcessing="true">
          <match url="^cs_distributor.php$" ignoreCase="false" />
          <action type="Redirect" url="cs_store" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 29"/>
        <rule name="Imported Rule 29" stopProcessing="true">
          <match url="^cs_network.php$" ignoreCase="false" />
          <action type="Redirect" url="cs_store" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 30"/>
        <rule name="Imported Rule 30" stopProcessing="true">
          <match url="^cs_store(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="cs_store.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 31"/>
        <rule name="Imported Rule 31" stopProcessing="true">
          <match url="^cs_aftersales(.*)$" ignoreCase="false"/>
          <action type="Rewrite" url="cs_aftersales.aspx" appendQueryString="false"/>
        </rule>

        <!-- Download -->
        <remove name="Imported Rule 32"/>
        <rule name="Imported Rule 32" stopProcessing="true">
          <match url="^downloads.php$" ignoreCase="false" />
          <action type="Redirect" url="download_app" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 33_1"/>
        <rule name="Imported Rule 33_1" stopProcessing="true">
          <match url="^download_app/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="download_app.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 33_2"/>
        <rule name="Imported Rule 33_2" stopProcessing="true">
          <match url="^download_wallpaper/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="download_wallpaper.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 33_3"/>
        <rule name="Imported Rule 33_3" stopProcessing="true">
          <match url="^download_screensaver/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="download_screensaver.aspx" appendQueryString="false" />
        </rule>



        <!-- Investor -->
        <remove name="Imported Rule 34"/>
        <rule name="Imported Rule 34" stopProcessing="true">
          <match url="^investor_announcement.php$" ignoreCase="false" />
          <action type="Redirect" url="investor_announcement" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 36_2"/>
        <rule name="Imported Rule 36_2" stopProcessing="true">
          <match url="^investor_announcement/([0-9]+)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_announcement.aspx?page={R:1}" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 36"/>
        <rule name="Imported Rule 36" stopProcessing="true">
          <match url="^investor_announcement(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_announcement.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 37"/>
        <rule name="Imported Rule 37" stopProcessing="true">
          <match url="^investor_enquiry.php$" ignoreCase="false" />
          <action type="Redirect" url="investor_enquiry" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 38"/>
        <rule name="Imported Rule 38" stopProcessing="true">
          <match url="^investor_enquiry(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_enquiry.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 39"/>
        <rule name="Imported Rule 39" stopProcessing="true">
          <match url="^investor_listing.php$" ignoreCase="false" />
          <action type="Redirect" url="investor_listing" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 40"/>
        <rule name="Imported Rule 40" stopProcessing="true">
          <match url="^investor_listing(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_listing.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 41"/>
        <rule name="Imported Rule 41" stopProcessing="true">
          <match url="^investor_report.php$" ignoreCase="false" />
          <action type="Redirect" url="investor_report" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 42"/>
        <rule name="Imported Rule 42" stopProcessing="true">
          <match url="^investor_report(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_report.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 43"/>
        <rule name="Imported Rule 43" stopProcessing="true">
          <match url="^investor.php$" ignoreCase="false" />
          <action type="Redirect" url="investor" redirectType="Found" />
        </rule>
        <remove name="Imported investor inspection"/>
        <rule name="Imported investor inspection" stopProcessing="true">
          <match url="^investor_inspection(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_inspection.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported investor corporate_info"/>
        <rule name="Imported investor corporate_info" stopProcessing="true">
          <match url="^investor_corporate_info(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor_corporate_info.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 44"/>
        <rule name="Imported Rule 44" stopProcessing="true">
          <match url="^investor(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="investor.aspx" appendQueryString="false" />
        </rule>


        <!-- TECHNICAL -->
        <remove name="Imported Rule 45"/>
        <rule name="Imported Rule 45" stopProcessing="true">
          <match url="^tech_info_instruction.php$" ignoreCase="false" />
          <action type="Redirect" url="tech_info_instruction" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 46"/>
        <rule name="Imported Rule 46" stopProcessing="true">
          <match url="^tech_info_instruction(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="tech_info_instruction.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 47"/>
        <rule name="Imported Rule 47" stopProcessing="true">
          <match url="^tech_info_terminology.php$" ignoreCase="false" />
          <action type="Redirect" url="tech_info_terminology" redirectType="Found" />
        </rule>
        <remove name="Imported Rule 48"/>
        <rule name="Imported Rule 48" stopProcessing="true">
          <match url="^tech_info_terminology(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="tech_info_terminology.aspx" appendQueryString="false" />
        </rule>


        <!-- AMBASSADORS -->
        <remove name="Imported Rule 49"/>
        <rule name="Imported Rule 49" stopProcessing="true">
          <match url="^ambassador_raymond(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="ambassador_raymond.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 50"/>
        <rule name="Imported Rule 50" stopProcessing="true">
          <match url="^ambassador_kelly(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="ambassador_kelly.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 51"/>
        <rule name="Imported Rule 51" stopProcessing="true">
          <match url="^ambassador_marcel(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="ambassador_marcel.aspx" appendQueryString="false" />
        </rule>
        <remove name="Imported Rule 52"/>
        <rule name="Imported Rule 52" stopProcessing="true">
          <match url="^ambassador_angie(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="ambassador_angie.aspx" appendQueryString="false" />
        </rule>
        <remove name="AMBASSADORS Rule"/>
        <rule name="AMBASSADORS Rule" stopProcessing="true">
          <match url="^ambassador(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="ambassador.aspx" appendQueryString="false" />
        </rule>


        <!-- SOCIAL NETWORK -->
        <remove name="Imported Rule 53"/>
        <rule name="Imported Rule 53" stopProcessing="true">
          <match url="^social_network(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="social_network.aspx" appendQueryString="false" />
        </rule>

        <!-- HERO PRODUCT PAGE -->
        <remove name="Imported Rule 54"/>
        <rule name="Imported Rule 54" stopProcessing="true">
          <match url="^hero/(.*)/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="hero_{R:1}_{R:2}.aspx" appendQueryString="false" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
